<p id="notice"><%= notice %></p>

<h1>Listing Chips</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Key</th>
      <th>Path</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chips.each do |chip| %>
      <tr>
        <td><%= chip.value %></td>
        <td><%= chip.key %></td>
        <td><%= chip.path %></td>
        <td><%= chip.parent_id %></td>
        <td><%= link_to 'Show', chip %></td>
        <td><%= link_to 'Edit', edit_chip_path(chip) %></td>
        <td><%= link_to 'Destroy', chip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chip', new_chip_path %>
